 {% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ label }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- 使用 id "prose-content" 来加载原始文本 -->
      <div id="prose-content">{{ prose(content) }}</div>
    </div>
  </div>
</article>

<!-- 在页面加载完成后，将 Markdown 转换为 HTML -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var contentElement = document.getElementById('prose-content');
    contentElement.innerHTML = marked(contentElement.textContent);
  });
</script>
{% endblock %}