{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ label }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- 使用 id "prose-content" 来加载原始文本 -->
     <div id="prose-content">
    {% for item in content %}
       {% if item.type == 'text' %}
       {% if item.value.startsWith('<em>') or item.value.startsWith('<a') or item.value.startsWith('<h2') or item.value.startsWith('<h3') %}
       {{ item.value | safe }}
    {% else %}
       <p>{{ item.value | safe }}</p>
    {% endif %}
    {% elif item.type == 'img' %}
      <img src="{{ item.value.filename }}" alt="{{ item.value.alt }}">
      {% if item.value.caption %}
        <p class="caption">{{ item.value.caption }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
    </div>
  </div>
</article>

<!-- 在页面加载完成后，将 Markdown 转换为 HTML -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var contentElement = document.getElementById('prose-content');
    contentElement.innerHTML = marked(contentElement.textContent);
  });
</script>
{% endblock %}