{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}{{ title }} by {{ label }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {{ prose(description) }}
    </div>
  </div>
</article>

{% endblock %}
