<!doctype html>
<html lang="en">
  <head>
    <title>JP Li | {% block page_title %}Portfolio{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Default description{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ relative_path }}css/main.css">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    {% include "_includes/nav.njk" %}

    {% block content %}{% endblock %}

    {% include "_includes/footer.njk" %}


    <script src="{{ relative_path }}js/jquery.js"></script>
    <script src="{{ relative_path }}js/bootstrap.bundle.min.js"></script>
    <script src="{{ relative_path }}js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked@4.0.12/marked.min.js"></script> 
  </body>
</html>