{% extends '_templates/base.njk' %}

{% block content %}
<div class="about-container">
  <div class="row justify-content-center">
    <div class="col col-md-8 col-lg-8">
      <div class="intro">


       <img src="img/aboutpage.JPG" alt="JP" style="display: block; margin: auto; max-width: 70%; height: auto;">
      </div>
    </div>
  </div>
</div>

{% endblock %}
