{% extends '_templates/base.njk' %}

{% block content %}
<div class="about-container">
  <div class="row justify-content-center">
    <div class="col col-md-8 col-lg-8">
      <div class="intro">
        <p>
          I'm a data reporting fellow at The Washington Post and IRW, specializing in data analysis to enhance traditional reporting.
  
          I love applying a statistical mindset to daily life and explaining complex ideas in simple terms. One fun fact about me is I got the highest grade in Econometrics in college. 
      </p>
      
      <p>
       I'm also a freelance feature writer, into trying out different narrative skills, and always excited for the next chat with subjects. I published my first book back in sophomore year, recording the Chinese exam-focused education system.
        </P>

         <p>Besides work, I’m an Asian restaurant aficionado🥢🍲 and outdoor sports enthusiast⛰️🌊. A life goal of mine is I want a garden and a library of my own.
        </p>


       <img src="img/aboutpage.JPG" alt="JP" style="display: block; margin: auto; max-width: 70%; height: auto;">
      </div>
    </div>
  </div>
</div>

{% endblock %}
