{% extends '_templates/base.njk' %}

{% block content %}
<div class="about-container">
  <div class="row justify-content-center">
    <div class="col col-md-8 col-lg-8">
      <div class="intro">
        <h1>Tech news, Data Journalism...</h1>
        <p>
          Hey, I’m Jinpeng Li, or JP. I was born and raised in an unknown town in northwestern China.
        </p>

        <p>
          From a very young age, I started building and creating things using words. My finest hours before moving to America include my first long piece novel helping me win the 20th <span style="font-weight: bold; color: #FD5B25;">New Concept Writing Competition</span>, which has produced many influential youth writers in China; my first screenplay helped me win the <span style="font-weight: bold; color: #FD5B25;">Walt Disney Fellowship </span> nationwide, which gave me the opportunity to visit Disney HQ (COVID-19 broke it, though); and my first reporting helped me secure a newsroom internship at Yi Magazine, probably one of the best business magazines in China.
       </p>

       <p>
          I stumbled around Hainan University for three years learning <span style="font-weight: bold; color: #FD5B25;">finance</span>. Since the college is built on a tropical island, I drank coconut water, and bathed in sunshine and sea wind every day. Finally, I figured out I don't want to “neijuan” to be a slimy finance bro. But it paved a solid road for me to become a business reporter. I indeed worked in the <span style="font-weight: bold; color: #FD5B25;">Consumer beat and Electric Vehicle beat</span> for <span style="font-weight: bold; color: #FD5B25;">Yicai and Caixin media</span>.
       </p>

       <p>
          I was featured by <a href="https://mp.weixin.qq.com/s/V_2xsODP5iyfeyxRZu-GUg" class="link">Yi Magazine</a> in the July 2022 issue as a representative of the Chinese youth generation if you want to know more stories about me. (that was a two-week interview!)
       </p>

        <p>
          I completed my graduate studies in <span style="font-weight: bold; color: #FD5B25;">Journalism and Media</span> at the University of Texas at Austin, <span style="font-weight: bold; color: #FD5B25;">mostly taking courses in journalism, informatics, and urban design</span>. I spent my days crunched data and visualized them for fun. I’m proud to be a student at the J-school; I believe J-school and newsrooms are among the most conducive environments for experimentation, development, and creativity.
       </p>
          
        <p>In Nov. 2023, I started working on <a href="https://theabacus.substack.com/" class="link">The Abacus</a> with my friend Oliver Taylor, a media brand <span style="font-weight: bold; color: #FD5B25;">we created</span> reporting AI news in Asia, and everything I’m interested in the Tech industry and people.
        </p>

        <p>In April 2024, I was selected for the  <a href="https://theinitium.com/zh-Hans" class="link">Initium Media </a> Feature Journalist Development Program, focusing primarily on the Asian community in North America for feature reporting.
        </p>

         <p>Besides work, I’m a dating app observer💗🏳️‍🌈, Asian restaurant collector🥢🍲, and outside lover⛰️🌊.
        </p>

       <img src="img/aboutpage.JPG" alt="JP" style="display: block; margin: auto; max-width: 70%; height: auto;">
      </div>
    </div>
  </div>
</div>

{% endblock %}
