{% extends '_templates/base.njk' %}

{% block page_title %}Blog{% endblock %}
{% block page_description %}Selected stories and insights{% endblock %}

{% block content %}

<div class="blog-list">
  <div class="container">
    <div class="row">
      {% for blog in portfolio.blog %}
        <div class="blog-post d-flex align-items-center mb-5">
          <!-- 左侧文字部分 -->
          <div class="blog-text flex-grow-1">
            <h2 class="blog-title">
              <a href="blog/{{ blog.slug }}.html" class="blog-title-link">{{ blog.title }}</a>
            </h2>
            <p class="blog-description">{{ blog.description }}</p>
            <p class="blog-meta text-muted">{{ blog.time }}</p>
          </div>
          <!-- 右侧图片部分 -->
          <div class="blog-image-container ms-2">
            <img class="blog-image" src="img/blog-photo/{{ blog.filename }}" alt="{{ blog.title }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
