{% extends '_templates/base.njk' %}

{% block page_title %}Data Viz{% endblock %}

{% block page_description %}Recently visualization works.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Data Viz</h1>
      <p> I use Svelte.js, R to create visualizations. </p>

      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          {% for dataviz in portfolio.dataviz %}
           <div class="col">
             <div class="card h-90 border">
               <img src="img/data-viz-photo/{{ dataviz.image }}.{{ dataviz.format }}" class="card-img-top" alt="{{ dataviz.title }}">
               <div class="card-body">
                 <h5 class="card-title subpage-card-title">
                 <a href="dataviz/{{ dataviz.slug }}.html">{{ dataviz.title }}</a>
                 </h5>
                 <div class="badge-container">
                   <a class="btn btn-credit btn-sm rounded-pill" role="button">{{ dataviz.label }}</a>
                 </div>
               </div>
             </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}