{% extends '_templates/base.njk' %}

{% block content %}

<div class="container">
  <div class="row align-items-center">
    <!-- 图片区域 -->
    <div class="col-md-5 text-center">
      <img src="img/JP.JPG" alt="Jinpeng Li" class="profile-picture">
      <p class="photo-credit">Photo by Krystal Cheongeui Won</p>
    </div>
    <!-- 文本区域 -->
    <div class="col-md-7">
      <div class="intro">
          <h2 id="typewriter"></h2>
          <noscript>Hey, I’m Jinpeng Li, also go by "JP".</noscript>
      
        <p>I’m a journalist and researcher at The Dallas Morning News, building an election database. I specialize in data analysis and visualization to enhance storytelling and traditional reporting.</p>
        <p>Most recently, I was a data reporting fellow at <a href="https://www.washingtonpost.com/people/jinpeng-li/" class="link">The Washington Post</a>. I was assigned to the sports desk to cover the 2024 Paris Olympic, researching the factors behind <a href="https://www.washingtonpost.com/sports/olympics/2024/08/09/small-countries-olympic-medals/" class="story-link">Olympic podium success</a>. Later, I collaborated with the Asia team to feature <a href="https://www.washingtonpost.com/climate-solutions/2025/03/03/china-renewable-energy-green-world-leader/" class="link">China’s clean energy dominance</a>, from solar power to electric vehicles.</p>
        <p>Simultaneously, I served in a similar role at the <a href="https://investigativereportingworkshop.org/staff/jp-li/" class="link">Investigative Reporting Workshop</a>, an innovative “training hospital” journalism nonprofit based at American University in Washington, D.C. There, I analyzed D.C. crime and shooting data, tracked <a href="https://themainemonitor.org/arpa/" class="story-link">Maine’s use of ARPA funds</a>, and explored 30 years of U.S. Census data using various tools.</p>
        <p>When I’m not working with numbers and code, I’m a feature writer experimenting with different narrative skills. I documented how Chinese immigrant communities were impacted by the Foreigner Land Bill, captured the struggles of people surviving China’s pandemic lockdowns, and produced a series of reports on China’s growing clean energy ecosystem.</p>
        <p>I hold a master’s degree in journalism and media from the University of Texas at Austin, studied finance in college.</p>
        <p>Based in Austin, TX, you can reach me at forjpli(at)gmail(dot)com.</p>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const typewriterText = "◡̈ᑋᵉᑊᑊᵒ I’m Jinpeng Li, also go by \"JP\"."
    const typewriterElement = document.getElementById('typewriter');
    let i = 0;

    function typeEffect() {
      if (i < typewriterText.length) {
        typewriterElement.textContent += typewriterText.charAt(i);
        i++;
        setTimeout(typeEffect, 90); // Adjust typing speed here
      }
    }

    typeEffect();
  });
</script>

{% endblock %}
