{% extends '_templates/base.njk' %}

{% block content %}

<div class="container">
  <div class="row align-items-center">
    <!-- 图片区域 -->
    <div class="col-md-5 text-center">
      <img src="img/JP.JPG" alt="Jinpeng Li" class="profile-picture">
      <p class="photo-credit">Photo by Krystal Cheongeui Won</p>
    </div>
    <!-- 文本区域 -->
    <div class="col-md-7">
      <div class="intro">
        <p>Hello, I’m Jinpeng Li, also goes by "JP".</p>
        <p>I’m a journalist specializing in data analysis and visualization to enhance traditional reporting.</p>
        <p>Most recently, I was a data reporting fellow at <a href="https://www.washingtonpost.com/people/jinpeng-li/" class="link">The Washington Post</a>. I was assigned to the sports desk to cover the 2024 Paris Olympic, researching the factors behind <a href="https://www.washingtonpost.com/sports/olympics/2024/08/09/small-countries-olympic-medals/" class="story-link">Olympic podium success</a>. Later, I collaborated with the Asia team to investigate China’s clean energy dominance, from solar power to electric vehicles.</p>
        <p>Simultaneously, I served in a similar role at the <a href="https://investigativereportingworkshop.org/staff/jp-li/" class="link">Investigative Reporting Workshop</a>, an innovative “training hospital” journalism nonprofit based at American University in Washington, D.C. There, I analyzed D.C. crime and shooting data, tracked Maine’s use of ARPA funds, and explored 30 years of U.S. Census data using various tools.</p>
        <p>When I’m not working with numbers and code, I’m a feature writer experimenting with different narrative skills. I documented how Chinese immigrant communities were impacted by the Foreigner Land Bill, captured the struggles of people surviving China’s pandemic lockdowns, and produced a series of reports on China’s growing clean energy ecosystem.</p>
        <p>I hold a master’s degree in journalism and media from the University of Texas at Austin, studied finance in college.</p>
        <p>Based in Austin, TX, you can reach me at forjpli(at)gmail(dot)com.</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
