{% extends '_templates/base.njk' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-lg-4 d-flex align-items-center justify-content-center">
      <img src="img/JP.JPG" alt="Jinpeng Li" class="img-fluid" style="max-width: 70%;">
    </div>
    <div class="col col-md-8 col-lg-8">
      <div class="intro">
        <h1>Hi, I'm Jinpeng "JP" Li.</h1>
        <p>
         I'm currently a data fellow at <a href="https://www.washingtonpost.com/people/jinpeng-li/" class="link"> The Washington Post </a> and <a href="https://investigativereportingworkshop.org/staff/jp-li/" class="link"> Investigative Reporting Workshop </a> through the Dow Jones News Fund. I tell stories through data, code, maps and design. I run a 
          <a href="https://theabacus.substack.com/" class="link">newsletter</a> 
          that observes the AI industry in Asia. Based in Austin, TX, you can reach me at @itsjpli.14 on Signal.
        </p>
        <p>
          <span class="badge newsman">Newsman 🕵️</span>
          <span class="badge dataviz">Data Viz 🎨</span>
          <span class="badge ai">AI + Journalism 🤖️</span>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
