{% extends '_templates/base.njk' %}

{% block page_title %}Infographic{% endblock %}

{% block page_description %}Some infographics were published by Caixin.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Infographic</h1>
      <p> Some infographics were published by Caixin. </p>

      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
          {% for infographic in portfolio.infographic %}
          <div class="col">
            <div class="card h-90 border">
              <img src="img/infographic-photo/{{ infographic.image1}}.jpg" class="card-img-top" alt="{{ infographic.title }}">
              <div class="card-body">
                <h5 class="card-title subpage-card-title">
                   <a href="infographic/{{ infographic.slug }}.html">{{ infographic.title }}</a>
                </h5>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
