{% extends '_templates/base.njk' %}

{% block page_title %}More{% endblock %}

{% block content %}
<div class="more-content">
  <!-- Latest Section -->
  <section class="latest-section">
    <h2 class="section-title">Latest</h2>
    <div class="content-section">
      {% for item in portfolio.latest %}
        <p>
          <strong>
            <a href="{{ item.src }}" class="text-link" target="_blank">{{ item.credit }}</a>
          </strong>
        </p>
        <p>{{ item.title }}</p>
        <p>{{ item.type }}</p>
      {% endfor %}
    </div>
  </section>

  <!-- Cite Section -->
  <section class="cite-section">
    <h2 class="section-title">In the News</h2>
    <div class="content-section">
      {% for item in portfolio.cite %}
        <p>
          <strong>
            <a href="{{ item.src }}" class="text-link" target="_blank">{{ item.credit }}</a>
          </strong>
        </p>
        <p>{{ item.intro }}</p>
      {% endfor %}
    </div>
  </section>
</div>


{% endblock %}
