{% extends '_templates/base.njk' %}

{% block page_title %}Writing{% endblock %}

{% block page_description %}Some story for Reporting Texas.{% endblock %}

{% block content %}
<div class="container">
  <h1>UX Design</h1>
  <p>1214 Music Sharing Platform.</p>

   
</div>
{% endblock %}


