{% extends '_templates/base.njk' %}

{% block page_title %}Work{% endblock %}

{% block page_description %}Some practices for data journalism{% endblock %}

{% block content %}
<div class="works-intro">
  <h1>My Projects</h1>
  <p>A few of my selected works and projects. </p>
</div>

<div class="works-sections">
  <!-- All Projects -->
  <section class="data-graphics">
    <h2>My Work</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for dataviz in portfolio.dataviz %}
          <div class="col">
            <div class="work-item">
              {% if dataviz.link %}
                <a href="{{ dataviz.link }}" target="_blank" rel="noopener noreferrer">
              {% else %}
                <a href="dataviz/{{ dataviz.slug }}.html">
              {% endif %}
                <img src="img/data-viz-photo/{{ dataviz.filename }}" alt="{{ dataviz.title }}" class="work-image">
                <h4 class="work-title">{{ dataviz.title }}</h4>
                <div class="work-meta">
                  <span class="publication">{{ dataviz.publication }}</span>
                  {% if dataviz.time %}<span class="time">{{ dataviz.time }}</span>{% endif %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}