{% extends '_templates/base.njk' %}

{% block page_title %}Works{% endblock %}

{% block page_description %}Some practices for data journalism{% endblock %}

{% block content %}
<div class="works-intro">
  <h1>My Projects</h1>
  <p>A few of my selected works and projects. Some of them were completed during my graduate studies at UT.</p>
</div>

<div class="works-sections">
  <!-- Data and Graphics -->
  <section class="data-graphics">
    <h2>Data and Graphics</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
         {% for dataviz in portfolio.dataviz %}
           <div class="col">
             <div class="card h-90">
               <img src="img/data-viz-photo/{{ dataviz.image1 }}.{{ dataviz.image1_format }}" class="card-img-top" alt="{{ dataviz.title }}">
               <div class="card-body">
                 <h5 class="card-title">
                 <a href="dataviz/{{ dataviz.slug }}.html" class="card-link">{{ dataviz.heading }}</a>
                 </h5>
               </div>
             </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </section>

  <!-- Cartography Projects -->
  <section class="cartography-projects">
    <h2>Cartography Projects</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
       {% for map in portfolio.maps %}
          <div class="col">
            <div class="card h-90">
              <img src="img/maps-photo/{{ map.image }}.jpg" class="card-img-top" alt="{{ map.title }}">
              <div class="card-body">
                <h5 class="card-title">
                   <a href="maps/{{ map.slug }}.html" class="card-link">{{ map.title }}</a>
                </h5>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </section>

  <!-- Interaction Design -->
  <section class="interaction-design">
    <h2>Interaction Design</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
        <div class="card h-100">
          <img src="img/musicapp_img/banner.png" class="card-img-top" alt="Music App">
          <div class="card-body">
              <h5 class="card-title"><a href="Musicapp.html" class="card-link">Music App</a></h5>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- Writing and Notes -->
  <section class="writing-notes">
    <h2>Writings and Notes</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for writing in home.writing %}
        <div class="col">
          <div class="card hover-card">
            <img src="img/writing-photo/{{ writing.image }}" class="card-img-top" alt="{{ writing.title }}">
            <div class="card-body">
              <h5 class="card-title">
               <a href="{{ writing.source }}" class="card-link">{{ writing.name }}</a>
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
