{% extends '_templates/base.njk' %}

{% block page_title %}Work{% endblock %}

{% block page_description %}Some practices for data journalism{% endblock %}

{% block content %}
<div class="works-intro">
  <h1>My Projects</h1>
  <p>A few of my selected works and projects. </p>
</div>

<div class="works-sections">
 <!-- Data and Graphics -->
<section class="data-graphics">
  <h2>Data and Graphics</h2>
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      {% for dataviz in portfolio.dataviz %}
        <div class="col">
          <div class="card text-dark card-has-bg click-col" style="background-image:url('img/data-viz-photo/{{ dataviz.filename }}');">
            <img class="card-img d-none" src="img/data-viz-photo/{{ dataviz.filename }}" alt="{{ dataviz.title }}">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">{{ dataviz.publication }}</small>
                <h4 class="card-title mt-0">
                  <a href="dataviz/{{ dataviz.slug }}.html" class="text-dark">{{ dataviz.title }}</a>
                </h4>
                <small><i class="far fa-clock"></i> {{ dataviz.time }}</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


  <!-- Cartography Projects -->
  <section class="cartography-projects">
    <h2>Cartography Projects</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
       {% for map in portfolio.maps %}
          <div class="col">
            <div class="card h-90">
              <img src="img/maps-photo/{{ map.image }}.jpg" class="card-img-top" alt="{{ map.title }}">
              <div class="card-body">
                <h5 class="card-title">
                   <a href="maps/{{ map.slug }}.html" class="card-link">{{ map.title }}</a>
                </h5>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </section>

  <!-- Interaction Design -->
  <section class="interaction-design">
    <h2>Interaction Design</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
        <div class="card h-100">
          <img src="img/musicapp_img/banner.png" class="card-img-top" alt="Music App">
          <div class="card-body">
              <h5 class="card-title"><a href="Musicapp.html" class="card-link">Music App</a></h5>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <!-- Writing and Notes -->
  <section class="writing-notes">
    <h2>Writings</h2>
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for writing in home.writing %}
        <div class="col">
          <div class="card hover-card">
            <img src="img/writing-photo/{{ writing.image }}" class="card-img-top" alt="{{ writing.title }}">
            <div class="card-body">
              <h5 class="card-title">
               <a href="{{ writing.source }}" class="card-link">{{ writing.name }}</a>
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
