{% extends '_templates/base.njk' %}

{% block page_title %}Writing{% endblock %}

{% block page_description %}Some writing.{% endblock %}

{% block content %}
<article class="container">
  <h1>Ships of the Golden Age of pirates</h1>
  <p>Intro text here.</p>
</article>
{% endblock %}