{% extends '_templates/base.njk' %}

{% block page_title %}Writing{% endblock %}

{% block page_description %}Some story for Reporting Texas.{% endblock %}

{% block content %}
<div class="container">
  <h1>Writings</h1>
  <p>I reported cosumer and EV for Caixin and Yicai media.</p>
  <h2>Writings for Reporting Texas</h2>
  <p>I focus on technology and Asian American community.</p>
  <div class="row">
    {% for writing in portfolio.writing %}
      <div class="col">
        <img src="img/{{ book.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="writing/{{ writing.slug }}.html">{{ writing.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
