{% extends '_templates/base.njk' %}

{% block page_title %}Writing{% endblock %}

{% block page_description %}Some story for Reporting Texas.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Map</h1>
      <p> I focus on technology and Asian American community. </p>

      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          {% for map in portfolio.maps %}
          <div class="col">
            <div class="card h-90 border">
              <img src="../img/maps-photo/{{ map.image }}.jpg" class="card-img-top" alt="{{ map.title }}">
              <div class="card-body">
                <h5 class="card-title">
                   <a href="maps/{{ map.slug }}.html">{{ map.title }}</a>
                </h5>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
