.about-container {
  padding: 20px; /* 默认情况下为内容添加一些边距 */
 
  p {
    font-size: 1.2rem; /* 调整为您希望的字体大小 */
    font-family: "Roboto", sans-serif;
  }
}

/* 针对小屏幕的样式调整 */
@media (max-width: 768px) {
  .about-container {
    padding: 10px; /* 在小屏幕上减少边距 */
  }
}