.intro {
  h1 {
    font-family: "Inconsolata", monospace;
    font-weight: normal;
    font-size: 40px;
  }
  
  p {
    font-family: "Inconsolata", monospace;
    font-weight: normal;
    font-size: 30px;
    margin-top: 20px;
  }

  .link {
    font-weight: bold;
    color: #87D3BC; 
    transition: transform 0.3s ease; 
  }
  
}


.badge {
  &.newsman {
    background-color: #CC5500; 
    color: white; 
  }
  &.dataviz {
    background-color: #F84C06; 
    color: white; 
  }
  &.ai {
    background-color: #F5C8A7; 
    color: white; 
  }
}

.badge-container {
  .btn {
    margin-right: 0.5rem; 
    margin-bottom: 0.5rem; 

    &:last-child {
      margin-right: 0; 
    }
  }

  .btn-credit {
    background-color: #0097b2;
    border-color: #01849b; 
    color: white; 
  }
  
  .btn-label {
    background-color: #7ed957; 
    border-color: #6ebf4b;
    color: white; 
  }
  
}


/* Add responsive styles as needed */
@media (max-width: 768px) {
  .image-container, .text-container {
    text-align: center; /* Center elements on smaller screens */
  }
  .btn-primary {
    margin-top: 20px; /* Add spacing above the button on smaller screens */
  }
}
