.more-content {
  max-width: 1200px; /* 控制内容宽度 */
  margin: 0 auto; /* 居中整个内容 */
  padding: 2rem;

  .section-title {
    font-family: 'Inconsolata', monospace; /* 字体 */
    font-size: 1.5rem; /* 字体大小稍微缩小 */
    font-weight: bold;
    color: #333; /* 深灰色 */
    margin-bottom: 1rem;
    text-align: left; /* 左对齐标题 */
  }

  .content-section {
    font-family: 'Inconsolata', sans-serif; /* 字体 */
    font-size: 1 rem; /* 缩小字体大小 */
    line-height: 1.4; /* 缩窄行间距 */
    color: #666; /* 深灰色 */
    text-align: left; /* 左对齐内容 */
    margin-left: 2rem; /* 增加左侧缩进 */
    margin-bottom: 2rem; /* 每部分之间的间距 */

    p {
      margin-bottom: 0.8rem; /* 控制每段之间的间距 */
    }

    a.text-link {
      color: #f1592b; /* 链接颜色 */
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
