/* nav */

.navbar {
  background: linear-gradient(to right, #0097b2, #7ed957);
  margin-bottom: 20px;

  .navbar-brand img {
    width: 60px;
    height: auto;
  }

  .nav-link {
    color: white; 
    font-size: 1.2rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
  }

  // For smaller devices
  @media (max-width: 991px) {
    .navbar-toggler {
      padding: .25rem .75rem; // Adjust padding to align the button as needed
    }
  }
}
