/* nav */

.navbar {
  background: linear-gradient(to right, #FE5A24, #4FF0E0);
  margin-bottom: 20px;

  .navbar-brand img {
    width: 60px;
    height: auto;
  }

  .nav-link {
    color: white; 
    font-size: 24px;
    font-family: "Inconsolata", monospace;
    font-weight: normal;
  }

  .newsletter-signup {
    font-family: "Inconsolata", monospace;
    font-size: 24px;
    color: #FE5A24; /* Use the appropriate color */
    text-decoration: none; /* Removes underline */
    padding: 5px 10px; /* Adjust as needed */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .newsletter-signup:hover {
    color: #C9302C; /* Darker shade for hover effect */
    text-decoration: underline; /* Underline on hover for effect */
  }

  // For smaller devices
  @media (max-width: 991px) {
    .navbar-toggler {
      padding: .25rem .75rem; // Adjust padding to align the button as needed
    }
  }
}
