.works-intro {
  max-width: 1500px; // 设置最大宽度
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem; // 设置左右内边距

  @media (min-width: 768px) {
    padding: 1rem 9rem 0.5rem 6rem; // 大屏幕时的内边距
  }

  h1 {
    margin: 1rem 0; // h1 上下边距

    @media (max-width: 768px) {
      margin-top: 0.5rem; // 小屏幕时减少上边距
    }
  }
}

.works-sections {
  max-width: 1500px; // 确保与 .works-intro 宽度一致
  margin: 0 auto; // 居中对齐
  padding: 0 2rem; // 与 .works-intro 相同的内边距

  @media (min-width: 768px) {
    padding-left: 9rem; // 大屏幕时的左内边距
    padding-right: 6rem; // 大屏幕时的右内边距
  }

  h2 {
    margin: 2rem 0; // 设置上下边距
    font-family: "Inconsolata", monospace;

    @media (min-width: 768px) {
      margin-top: 3rem; // 大屏幕时增加上下边距
      margin-bottom: 3rem;
    }
  }

  img {
    width: 100%;  // 图片宽度自适应
    height: 150px;  // 固定高度
    object-fit: cover;  // 裁剪图片以保持比例
    margin: 20px auto;  // 设置上下边距并居中
  }

  .card-body {
    font-family: "Inconsolata", sans-serif; // 使用字体
    color: #333; // 深灰色

    .card-link {
      color: inherit; // 继承链接颜色
      text-decoration: none; // 去除下划线

      &:hover, &:focus {
        color: #777; // 鼠标悬停时变为浅灰色
      }
    }
  }
}
