// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';

h3 {
  font-size: 1.5rem;
}

h1 {
  font-family: sans-serif;
  font-weight: 200;
}

p {
  font-family: sans-serif;
  font-weight: 300;
}

.badge-container .badge {
  margin-right: 5px;
}

.container-fluid {
  max-width: 80%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 20px;
}

.intro {
  h1 {
    font-family: 'Rubik Pixels', sans-serif;
    font-weight: normal;
    font-size: 40px;
  }
  
  p {
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin-top: 20px;
  }

  .special-link {
    font-weight: bold; 
    color: #7BD75B; 
    transition: transform 0.3s ease; 
  
    &:hover {
      transform: scale(1.5);
    }
  }
  
}

// Custom Badge Colors
.badge {
  &.longhorn {
    background-color: #CC5500; // Custom orange color for Longhorn
    color: white; // Text color
  }
  &.data-journalism {
    background-color: #F84C06; // Custom blue color for NewNewHuman
    color: white; // Text color
  }
  &.cooking {
    background-color: #F5C8A7; // Custom green color for WeekendCooking
    color: white; // Text color
  }
}

.badge-container {
  // Add space between buttons/badges
  .btn {
    margin-right: 0.5rem; // Space to the right of each button
    margin-bottom: 0.5rem; // Space below each button, in case they wrap

    &:last-child {
      margin-right: 0; // Remove right margin from the last button
    }
  }

  .btn-credit {
    background-color: #0097b2; /* Custom green */
    border-color: #01849b; /* Slightly darker green border */
    color: white; /* White text */
  }
  
  .btn-label {
    background-color: #7ed957; /* Custom light blue */
    border-color: #6ebf4b; /* Slightly darker blue border */
    color: white; /* White text */
  }
  
}


footer {
  margin-top: 60px;
}