// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';
@import 'index';
@import 'works';
@import 'musicapp';
@import 'about';

h3 {
  font-size: 1.5rem;
  font-family: "Inconsolata", monospace;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-weight: 400;
}

p {
  font-family: "Lora", serif;
  font-weight: 300;
}


.badge-container .badge {
  margin-right: 5px;
}

.container-fluid {
  max-width: 80%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 20px;
}



footer {
  margin-top: 60px;
}


.card-body {
  font-family: "Inconsolata", sans-serif; // 你可以根据需要更换字体
  color: #333; // 深灰色
  
  // 当鼠标悬停在链接上时改变颜色
  .card-link {
    color: inherit; // 使链接继承.card-title的颜色
    text-decoration: none; // 去除下划线
    
    &:hover, &:focus {
      color: #777; // 浅灰色
    }
  }
}