// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';

h3 {
  font-size: 1.5rem;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
}

p {
  font-family: sans-serif;
  font-weight: 300;
}

.badge-container .badge {
  margin-right: 5px;
}

.container-fluid {
  max-width: 80%;
  padding-right: 0;
  padding-left: 0;
  margin-top: 20px;
}

.intro {
  h1 {
    font-family: 'Rubik Pixels', sans-serif;
    font-weight: normal;
    font-size: 40px;
  }
  
  p {
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin-top: 20px;
  }

  .link {
    font-weight: bold; 
    color: #7BD75B; 
    transition: transform 0.3s ease; 
  
    &:hover {
      transform: scale(1.5);
    }
  }
  
}


.badge {
  &.longhorn {
    background-color: #CC5500; 
    color: white; 
  }
  &.data-journalism {
    background-color: #F84C06; 
    color: white; 
  }
  &.cooking {
    background-color: #F5C8A7; 
    color: white; 
  }
}

.badge-container {
  .btn {
    margin-right: 0.5rem; 
    margin-bottom: 0.5rem; 

    &:last-child {
      margin-right: 0; 
    }
  }

  .btn-credit {
    background-color: #0097b2;
    border-color: #01849b; 
    color: white; 
  }
  
  .btn-label {
    background-color: #7ed957; 
    border-color: #6ebf4b;
    color: white; 
  }
  
}


footer {
  margin-top: 60px;
}

// The following code is for the infographic page
.subpage-card-title a {
  color: black; 
  text-decoration: none; 
}

.subpage-card-title a:hover {
  color: grey; 
  text-decoration: underline; 
}


// The following code is for the writing page
.hover-card {
  position: relative;
  overflow: hidden;
}

.hover-card .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.hover-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay */
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.hover-card:hover .card-img {
  transform: scale(1.1);
}

.hover-card:hover .overlay {
  height: 100%;
}

.hover-card .text {
  color: white;
  font-size: 8px;
  width: 90%;
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}
